Все записи:

Всего записей - {{ users|count }}

{# Перебор БД для вывод #}

{% for user in users %}
{% for surn in user.surname %}
{% for namef in user.fathername %}
{% for number in user.phones %}
{% for name in user.organizations %}

{# Вывод #}
ФИО  - {{ user }}, {{ surn }}, {{namef}}:
Телефоны:
    {{ number }}

Название организации:
    {{name}}
    {% endfor %}
{% endfor %}
{% endfor %}
{% endfor %}
