{# Перебор БД для вывода #}

{% for user in users %}
    {# Вывод #}
    ФИО  - {{ surname }}, {{ user.name }}, {{ user.fathername }}:
    Телефоны:
    {% for number in user.phones %}
        {{ number }}
    {% endfor %}
    Название организации:
    {% for name in user.organizations %}
        {{ name }}
    {% endfor %}
{% endfor %}