Добро пожаловать в телефонный справочник!

Выберите, что Вы хотите сделать:
=========================================

1. Показать все записи
2. Создать запись
3. Удалить запись
4. Найти пользователя
0. Выйти из программы